:root{
    --background-color: #2E2F42;
    --light-background-color:#F4F4FD;
    --hero-title:#FFFFFF;
    --text-line-height:1.5;
    --title-color: #2E2F42;
    --text: #434455;
    --accent-color:#4D5AE5;
    --text-font-weight:500;
    --title-font-weight:700;
    --logo-font-style:800
}

h1,
h2,
h3,
h4,
p { margin-top:0;
    margin-bottom: 0; 
}
ul
{ margin: 0;
    padding: 0;
}

img {
    display: block;
}
body {
    font-family: "Roboto" ; } 
.list { 
    list-style: none;
    margin: 0;
}

.link { 
    text-decoration: none;
}
.logo {
    text-decoration: none;
}
.style {text-align: center;}
.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*HEADER*/ 
.header { 
    box-sizing: border-box;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E7E9FC;
}

.header-navigation {
display: flex;
}
.top {
    display: flex;
    align-items: center;
}


.header-links{
    display: flex;
    margin-left: 76px;
}
.header-links .item {  
    margin-right:40px ; 
}
.header-links .item:last-child {
    margin-right:  0;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight:var(--logo-font-style);
    font-size: 18px;
    line-height:1.33;
    display:flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-color);

}
.accent {
    font-family: 'Raleway',sans-serif ;
    font-style: normal;
    font-weight:var(--logo-font-style);
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--accent-color);
}
.header-nav {
    font-weight: var(--text-font-weight);
    font-size: 16px;
    position: relative;
    line-height: var(--text-line-height);
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: block;
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-top {
    margin-left: auto;
}
.address {
    display: flex;
    gap: 40px;
}
.carrent {
    position: relative;
}
.carrent:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background: #404BBF;
    border-radius: 2px;
}

.header-e-mail,
.header-tel
{
    font-family: "Roboto",sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height:var(--text-line-height);
    letter-spacing: 0.02em;
    color:var(--text);
    padding: 24px 0;
    display:block;
}

.link:hover,
.link:focus {
    color:#404BBF;
}

.hero-button:hover,
.hero-button:focus {
    background-color:#404BBF; 
    color:var(--hero-title);
    border-color: rgba(0, 0, 0, 0);
}

.product-button:hover,
.product-button:focus{
    color:var(--hero-title);
    background-color:var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
}   

/*HERO*/
.hero {
    max-width: 1440px;
    padding: 188px 0;
    height: 600px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)) , url(../images/people-office2.jpg) ;
    background-color: var(--background-color);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    font-weight:var(--title-font-weight);
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--hero-title);
    margin-top: 0;
    margin-bottom:48px;
    max-width: 496px ;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    Font-family: inherit;
    font-weight: var(--text-font-weight);
    font-size: 16px;
    line-height: var(--text-line-height);
    text-align: center;
    letter-spacing: 0.04em;
    color:var(--hero-title);
    cursor:pointer;
    background: #4D5AE5;
    border-radius: 4px;
    padding: 16px 32px;
    display: inline-block;
    min-width: 169px;
    border-color:rgba(0,0,0,0);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*SECTION Upper */
.features{ 
    margin-top: 0;
    padding-top: 120px;
}

.features-title ,
.invisible-title{
display: none;
}
.features-list {
    font-weight: 400px;
    font-size: 20px;
    line-height: 0.83;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.features-list .item {
    flex-basis: calc((100% - 72px) / 4);
}

.item {
    display: block;
}

.features-item {
    display: block;
    font-style: normal;
    font-weight:var(--text-font-weight);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    margin-top: 8px;
}
.item-icon {
    display: flex;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 112px;
    background-color: #f4f4fd;}

.features-text {
    font-size: 16px;
    line-height:var(--text-line-height);
    letter-spacing: 0.02em;
    color:var(--text); 
}
/*middle*/
.middle {
padding-top: 120px;
padding-bottom: 120px;
}

.middle-title {
    font-weight:var(--title-font-weight);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}

.middle-list{
display: flex;
flex-wrap: wrap;
gap:24px ;
}

/*TEAM*/
.team { 
    background-color:var(--light-background-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-weight:var(--title-font-weight);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.coment {
    padding: 32px 16px 32px 16px;
}
.team-list .item {
margin-right: 24px;
border-radius: 4px;
}
.team-list .item:last-child{
    margin-right: 0;
}

.team-person {
    font-style: normal;
    font-weight: var(--text-font-weight);
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--title-color);
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--text);
}
.social-list {
    display: flex;
    justify-content: center;
    gap:24px;
    margin-top: 8px;

} 
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
    color: #F4F4FD;

}
.ocean:hover,
.ocean:focus {
    background-color:#404BBF ;
    
    }

/*------customers-------*/
.customers {
padding-top: 110px ; 
padding-bottom: 120px ;
}

.customers-link:is(:hover,:focus) {
    color:#404BBF;
    border-color: #404BBF;
    
}
.customers-list{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.customers-item {
    display: flex;
    gap: 24px;
}
.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    color: rgba(175, 177, 184, 1);
    transition-property: color,border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
}
.customers-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}
/*FOOTER*/
.footer { 
    background-color: var(--background-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-group{
    display: flex;
    align-items: baseline;
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight:var(--logo-font-style);
    font-size: 18px;
    line-height: 1.33; 
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--hero-title);
    margin-bottom: 16px;
    
}

.footer-central-side{
    margin-left: 120px;
}
.footer-central-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    }

.footer-central-list {
    display: flex;
    gap: 16px;
}


.footer-social-link { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.green:focus,
.green:hover {
    background: #31D0AA;
    
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
.footer-right-cide {
    margin-left: 80px;
}
.footer-central-form{
    display: flex;
}
.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2E2F42;
    border-radius: 4px;
    outline: transparent;
}
.subscribe-input:focus {
    border-color:var(--hero-title);
    color:var(--hero-title);
    cursor: pointer;
}
.footer-button {
    position: relative;
}
.footer-button-subscribe{
    background:transparent;
    color: #FFFFFF;
    min-width: 165px;
    height: 40px;
    outline: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    display: flex;
    align-items: center;
    padding: 8px 64px 8px 24px;
    background: #4D5AE5;
    border-radius: 4px;
    margin-left: 24px;
    position: relative;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button-icon {
position: absolute;
top: 50%;
right: 24px;
transform: translateY(-50%);
}
.footer-button-subscribe:hover,
.footer-button-subscribe:focus
{
    background-color: #404BBF;
    color: var(--hero-title);
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
        

.products {
    border-left: 1px solid rgba(231, 233, 252, 1);
    border-bottom: 1px solid rgba(231, 233, 252, 1);
    border-right: 1px solid rgba(231, 233, 252, 1);
}
.product-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 96px;
    margin-bottom: 72px;
    
    }


    .product-buttons .item:not(:last-child) {
    margin-right: 24px;
    }
    

.product-button {
    font-family: inherit;
    font-weight: var(--text-font-weight);
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor:pointer;
    color: #4D5AE5;
    background-color: #F4F4FD;
    border-radius: 4px;
    padding: 12px 24px;
    display: inline-block;
    min-width: 69px;
    border: 1px solid #E7E9FC;
    transition-property: background-color,border-color, color,box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-bottom: 120px;
}

.element {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    background: #FFFFFF;
    width: calc((100% - 48px) / 3)
    }
    
        .element:hover .overlay,
        .element:focus .overlay {
            transform: translateY(0);
        }

.product-title {
    font-weight: var(--text-font-weight);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}
.products { 
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;

}

.product-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text);
}
.card-behind-overlay {
position: relative;
overflow: hidden;
}
.overlay-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-link:hover .overlay,
.overlay-link:focus .overlay{
    transform: translateY(0);
}
.overlay-link:focus,
.overlay-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        cursor: pointer;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    background-color:var(--accent-color);
    overflow:auto;
    transform: translateY(100%);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.text-overlay{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD; }

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 576px;
    padding: 24px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events:none;
}
.modal-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-bottom: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition-property: 
        background-color,
        border-color,
        color,
        box-shadow;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:is(:hover,:focus) {
    background: var(--accent-color);
    border:rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    }
.vector {
    display: flex;
    justify-content: center;
    align-items: center;
    width:8px;
    height:8px;
    fill: currentColor;
}

.modal-form {
    position: relative;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.input-wrap {
    position: relative;
    margin-bottom: 8px;
    margin-top: 4px;

}
.modal-input {
    width: 100%; 
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline:transparent;
    font-size: 12px;
    border-radius: 4px;
    padding-left: 38px;

}
.modal-input:focus, .modal-comment:focus {
    border-color: var(--accent-color);
}
.modal-input:focus + .modal-input-icon {
    fill: var(--accent-color);
}
.modal-input-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
        color: #8E8F99;
}
.modal-input::placeholder,.modal-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-input-icon{
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
    
}
.modal-comment {
    width: 100%;
    height: 120px; ;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
    font-size: 12px;
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    resize: none;
    margin-bottom: 16px;
    margin-top: 4px;
}

.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    letter-spacing: 0.04em;
}
.policy-link {
    color: rgba(77, 90, 229, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    margin-left: 3px;
    }

.check-text span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border: 1.25px solid rgba(46, 47, 66, 1);
    border-radius: 2px;
    margin-right: 4px;
    transition-property:
        background-color,
        border-color,
        color;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}
.modal-check:checked +.check-text span {
    background-color:#404BBF;
    border: none;
    fill: rgba(244, 244, 253, 1);
    border: 1.25px solid #404BBF
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.check-icon {

}
.modal-button{
margin-left: 96px;
margin-top: 24px;

}
